.c1{
    p{
        font-size: 20px;
        color: greenyellow;

    }
    h1{
        color:red ;
        text-align: center;
    }
}
.c2{
    .p2{
        font-style: italic;
        font-weight: 300;
    }
}